.section__divv {
  .section__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }
  .section__rght {
    width: 50%;
  }
  .section__left {
    width: 50%;
  }
  .h4 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #00194a;
  }
  .p__text {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #00194a;
    margin-top: 30px;
  }
  .img__secti {
    width: 70%;
  }
}

@media (max-width: 780px) {
  .section__divv {
    .h4 {
      font-size: 30px;
    }
  }
}

@media (max-width: 680px) {
  .section__divv {
    .h4 {
      font-size: 26px;
      line-height: 35px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 600px) {
  .section__divv {
    .h4 {
      font-size: 24px;
      line-height: 30px;
      margin-top: 50px;
    }
    .p__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 550px) {
  .section__divv {
    .h4 {
      font-size: 22px;
      line-height: 30px;
      margin-top: 50px;
    }
    .p__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .section__divv {
    .h4 {
      font-size: 30px;
      line-height: 40px;
      margin-top: 50px;
      text-align: center;
    }
    .p__text {
      text-align: center;
      font-size: 18px;
    }
    .section__flex {
      flex-direction: column;
    }
    .section__rght {
      width: 100%;
    }
    .section__left {
      width: 100%;
    }
    .img__secti {
      width: 100%;
    }
  }
}
